<h1>Likes</h1>

<p><%= @fb_user %>'s Likes <p>

	<div id="profile image">
		<%= image_tag @graph.get_picture("me") %>
	</div>

	<br />

	<% @likes.each do |like| %>
		<%= like["name"] %>
		<br />
	<% end %>

<%= debug cookies %> 
<%= debug @fb_user_id %> 
<%= debug @fb_user %>