<h1>Pages#realauth</h1>
<p>Find me in app/views/pages/realauth.html.erb</p>

<p> Real User Likes <p>

	<div id="profile image">
		<%= image_tag @graph.get_picture("me") %>
	</div>

	<br />

	<% @likes.each do |like| %>
		<%= like["name"] %>
		<br />
	<% end %>

<%= debug cookies %> 
<%= debug @fb_user_id %> 
<%= debug @fb_user %>