<h1>Welcome to the test FB App</h1>
<p>Click on a link below</p>

	<div id="profile image">
		<%= image_tag @graph.get_picture("me") %>
	</div>
	<br />

	<div>
		<%= link_to 'Likes', likes_path %>
	</div>

<%= debug cookies %> 
<%= debug @fb_user_id %> 
<%= debug @fb_user %>